/* bg & font*/
body {
    background-color: rgb(240, 230, 218);
    font-family: 'brandon-grotesque', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    background-size:cover;
    background-color: black;
}

svg{
    transform: scale(.8);
    margin-right: 90%;
    position: relative
}

li{
    display: inline;
    padding:25px
}

nav ul{
    list-style: none;
    text-align: center;
    margin-top: -5%;
}

.content{
    max-width: 470px;
    margin-left: 50%;
    margin-top: -2%;
    font-size: .4cm;
    font-weight: 300;
    font-family: 'brandon-grotesque' sans-serif;
}

@media only screen and (min-width: 2000px) {
    body {
      background-color: rgb(0, 0, 0);
    }
    .content{
    width:25%;
    height:80%;
  
  }
  }


.portrait {
        width: 150px;
        height: 150px;
        position: relative;
        margin-top: 5%;
        margin-left: 15%;
}

img {
    max-width: 300%;
    height: auto;
    width: auto\9; 
}

span {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .trace {
    position: relative;
    height: 50px;
    width: 100px;
    box-shadow: inset 0 0 0px 3px #EDEDED;
  }
  
  .trace:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    box-sizing: border-box;
    border-right: 3px solid transparent;
    border-top: 3px solid transparent;
    transition: width .15s linear .15s, height .15s linear, border-right 0s linear .15s, border-top 0s linear .3s;
  }
  
  .trace:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 0%;
    box-sizing: border-box;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: width .15s linear .15s, height .15s linear, border-left 0s linear .15s, border-bottom 0s linear .3s;
  }
  
  .trace:hover:after {
    width: 100%;
    height: 100%;
    border-right: 3px solid rgb(123, 255, 0);
    border-top: 3px solid rgb(123, 255, 0);
    transition:border-top 0s linear, border-right 0s  linear .15s, width .15s linear, height .15s linear .15s;
  }
  
  .trace:hover:before {
    width: 100%;
    height: 100%;
    border-left: 3px solid rgb(123, 255, 0);
    border-bottom: 3px solid rgb(123, 255, 0);
    transition:border-bottom 0s linear, border-left 0s  linear .15s, width .15s linear, height .15s linear .15s;
  }